.container__conteudo.quaternario{
    background-color: var(--cor-principal-fundo);
    position: relative;
}
.container__conteudo__auxiliar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__conteudo__projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container__conteudo__projetos__card{
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-secundaria-fundo);
    border: 2px solid var(--cor-principal-objetos);
    border-radius: 10px;
    padding: 1rem;
    max-width: 400px;
    margin: 0.5rem;
}
.container__conteudo__projetos__card.slide-show {
    display: flex;
}
.container__conteudo__projetos__card__titulo{
    font-weight: 600;
    font-size: 1.8rem;
    margin: 1rem;
    color: var(--cor-fonte);
}
.container__conteudo__projetos__card__imagem{
    width: 13rem;
}
.container__conteudo__projetos__card__texto{
    margin: 1rem;
}
.container__conteudo__projetos__card__link{
    background-color: var(--cor-principal-fundo);
    display: flex;
    align-items: center;
    padding: 0.7rem;
    margin: 0.5rem 1rem;
    border: 1px solid var(--cor-principal-objetos);
    border-radius: 8px;
    text-decoration: none;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: transform 0.3s ease;
}
.container__conteudo__projetos__card__link:hover{
    transform: scale(1.1);
    background-color: var(--cor-terciaria-fundo);
}
.container__conteudo__projetos__card__link__icone{
    width: 2rem;
    margin-right: 10px;
}
.container__conteudo__seta{
    width: 4rem;
    height: auto;
    top: 50%;
    display: none;
}
.container__conteudo__projetos__indicadores {
    display: none;
    justify-content: center;
    margin-top: 20px; 
}
.indicador {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px; 
    cursor: pointer;
}
.indicador.ativo {
    background-color: var(--cor-principal-objetos); 
}

@media screen and (min-width:768px){
    .container__conteudo__projetos__card__imagem{
        width: 20rem;
    } 
    .container__conteudo__seta{
        display: block;
    }
    .container__conteudo__seta.seta-esquerda{
        left: 13%;
        transform: scaleX(-1);
        margin: 0 2rem;
    }
    .container__conteudo__seta.seta-direita{
        right: 20%;
        margin: 0 2rem;
    }
    .container__conteudo__projetos__indicadores {
        display: flex;
    }
}