.container__conteudo.quaternario{
    background-color: var(--cor-principal-fundo);
    position: relative;
}
.container__conteudo__auxiliar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__conteudo__projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.container__conteudo__projetos__card{
    display: none;
    align-items: center;
    flex-direction: column-reverse;
    background-color: var(--cor-secundaria-fundo);
    border-radius: 10px;
    margin: 0.5rem;
    width: 80vw;
}
.container__conteudo__projetos__card__checkbox{
    display: none;
}
.container__conteudo__projetos__card__exibir{
    background-color: var(--cor-quaternaria-fundo);
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--cor-quaternaria-borda);
    border-radius: 0 0 10px 10px;
    color: var(--cor-base);
    cursor: pointer;
}
.container__conteudo__projetos__card__exibir__fechar{
    display: none;
}
.container__conteudo__projetos__juncao{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid var(--cor-principal-objetos);
    border-left: 2px solid var(--cor-principal-objetos);
    border-right: 2px solid var(--cor-principal-objetos);
    border-radius: 10px 10px 0 0 ;
    padding: 0 1rem 0 1rem;
    width: 80vw;
}

.container__conteudo__projetos__card__titulo{
    font-weight: 600;
    font-size: 1.8rem;
    margin: 1rem;
    color: var(--cor-fonte);
}
.container__conteudo__projetos__card__imagem{
    width: 50vw;
    margin-bottom: 1rem;
}
.container__conteudo__projetos__juncao__dados{
    display: none;
    flex-direction: column;
    align-items: center;
}
.container__conteudo__projetos__card__texto{
    margin: 1rem;
}
.container__conteudo__projetos__card__link{
    display: flex;
    align-items: center;
    padding: 0.7rem;
    margin: 1rem 0 2rem 0;
    border-radius: 8px;
    text-decoration: none;
    color: var(--cor-fonte);
    font-weight: 700;
    transition: transform 0.3s ease;
}
.container__conteudo__projetos__card__link:hover{
    transform: scale(1.1);
}
.container__conteudo__projetos__card__link__icone{
    width: 2rem;
    margin-right: 10px;
}
.container__conteudo__seta{
    width: 4rem;
    height: auto;
    top: 50%;
    display: none;
    cursor: pointer;
}
.container__conteudo__projetos__indicadores {
    display: none;
    justify-content: center;
    margin-top: 20px; 
}
.indicador {
    width: 10px;
    height: 10px;
    background-color: var(--cor-quaternaria-fundo);
    border-radius: 50%;
    margin: 0 5px; 
    cursor: pointer;
}
.indicador.ativo {
    background-color: var(--cor-principal-objetos); 
}
.container__conteudo__projetos__card__checkbox:checked~.container__conteudo__projetos__juncao>.container__conteudo__projetos__juncao__dados{
    display: flex;
}
.container__conteudo__projetos__card__checkbox:checked~.container__conteudo__projetos__card__exibir>.container__conteudo__projetos__card__exibir__abrir{
    display: none;
}
.container__conteudo__projetos__card__checkbox:checked~.container__conteudo__projetos__card__exibir>.container__conteudo__projetos__card__exibir__fechar{
    display: block;
}

@media screen and (min-width:768px){
    .container__conteudo__projetos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .container__conteudo__projetos__card{
        padding: 1rem;
        border: 2px solid var(--cor-principal-objetos);
        border-radius: 10px;
        max-width: 25rem;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 1;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }
    .container__conteudo__projetos__card__exibir{
        display: none;
    }
    .container__conteudo__projetos__juncao{
        padding: 0;
        margin: 0;
        border: none;
        max-width: 25rem;
    }
    .container__conteudo__projetos__card__imagem{
        width: 20rem;
        margin-bottom: 0;
    } 
    .container__conteudo__projetos__juncao__dados{
        display: flex;
    }
    .container__conteudo__projetos__card__link{
        margin: 1rem 0;
    }
    .container__conteudo__seta{
        display: block;
    }
    .container__conteudo__seta.seta-esquerda{
        left: 13%;
        transform: scaleX(-1);
        margin: 0 2rem;
        transition: transform 0.3s ease; 
    }
    .container__conteudo__seta.seta-direita{
        right: 20%;
        margin: 0 2rem;
        transition: transform 0.3s ease; 
    }
    .container__conteudo__seta.seta-esquerda:hover{
        transform: scaleX(-1) scale(1.1);
    }
    .container__conteudo__seta.seta-direita:hover{
        transform: scale(1.1);
    }
    .container__conteudo__projetos__indicadores {
        display: flex;
    }
}