.container{
    background-color: var(--cor-secundaria-fundo);
    padding: 4rem 0 0 0;
}
.container__conteudo{
    text-align: center;
    padding: 2rem;
}
.container__conteudo__titulo, .container__conteudo__informacoes__sobre__titulo{
    font-size: 2rem;
    font-family: 700;
    color: var(--cor-fonte);
    margin-bottom: 1rem;
}
.container__conteudo__informacoes__sobre__titulo{
    display: none;
}
.container__conteudo__informacoes__foto {
    width: 13rem;
    transform: rotate(-3deg);
    border: 10px solid #fff;
    box-shadow: 0 0 0 2px #000;
}
.container__conteudo__informacoes__sobre__texto{
    margin: 1.4rem 0;
    font-size: 1rem;
}
.container__conteudo__informacoes__sobre__centralizar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container__conteudo__informacoes__sobre__centralizar__links{
    padding: 0.7rem;
    margin: 0.5rem 1rem;
    transition: transform 0.3s ease;
}
.container__conteudo__informacoes__sobre__centralizar__links__imagem__span{
    display: none;
}
.container__conteudo__informacoes__sobre__centralizar__links__imagem{
    width: 2rem;
}

@media screen and (max-width:313px){
    .container{
        padding: 5.5rem 0 0 0;
    }
}

@media screen and (min-width:768px){
    .container__conteudo.primario{
        margin-bottom: 1rem;
    }
    .container__conteudo__titulo{
        display: none;
    }
    .container__conteudo__informacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }    
    .container__conteudo__informacoes__foto{
        width: 17rem;
        margin-right: 5rem;
    }
    .container__conteudo__informacoes__sobre{
        max-width: 45rem;
    } 
    .container__conteudo__informacoes__sobre__titulo{
        display: block;
    }
    .container__conteudo__informacoes__sobre__centralizar__links{
        background-color: var(--cor-principal-fundo);
        display: flex;
        align-items: center;
        border: 1px solid var(--cor-principal-objetos);
        border-radius: 8px;
        text-decoration: none;
        color: var(--cor-fonte);
        font-weight: 700;
    }
    .container__conteudo__informacoes__sobre__centralizar__links:hover{
        transform: scale(1.1);
        background-color: var(--cor-terciaria-fundo);
    }
    .container__conteudo__informacoes__sobre__centralizar__links__imagem{
        margin-right: 10px;
    }
    .container__conteudo__informacoes__sobre__centralizar__links__imagem__span{
        display: block;
    }
}